examples/jwt-payload.json
[
  {
    "id": "bc2e7f6e.fb27e8",
    "type": "tab",
    "label": "JWT Payload",
    "disabled": false,
    "info": ""
  },
  {
    "id": "82ccf735.06142",
    "type": "JWT-OUT",
    "z": "bc2e7f6e.fb27e8",
    "name": "",
    "algoType": "HASH",
    "signature": "",
    "algoHash": "HS256",
    "privateKeyFile": "",
    "algoFile": "RS256",
    "tokenPayload": "",
    "selectedProperty": "payload",
    "entireMessage": false,
    "showErrors": false,
    "useOptions": false,
    "issuer": "",
    "subject": "",
    "audience": "",
    "jwtId": "",
    "tokenExpires": false,
    "expiresIn": 60,
    "expiresInUnit": "s",
    "tokenNotBefore": false,
    "notBefore": 1,
    "notBeforeUnit": "s",
    "x": 300,
    "y": 100,
    "wires": [
      [
        "ea7ea483.539f68",
        "2183b30d.a5ea34"
      ]
    ]
  },
  {
    "id": "e5ea979.dbb7ae8",
    "type": "inject",
    "z": "bc2e7f6e.fb27e8",
    "name": "",
    "topic": "",
    "payload": "test message",
    "payloadType": "str",
    "repeat": "",
    "crontab": "",
    "once": true,
    "x": 140,
    "y": 100,
    "wires": [
      [
        "82ccf735.06142"
      ]
    ]
  },
  {
    "id": "ea7ea483.539f68",
    "type": "debug",
    "z": "bc2e7f6e.fb27e8",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 450,
    "y": 60,
    "wires": []
  },
  {
    "id": "2183b30d.a5ea34",
    "type": "JWT-IN",
    "z": "bc2e7f6e.fb27e8",
    "name": "",
    "algoType": "HASH",
    "signature": "",
    "publicKeyFile": "",
    "tokenPayload": "",
    "selectedProperty": "payload",
    "entireMessage": false,
    "showErrors": false,
    "useOptions": false,
    "issuer": "",
    "subject": "",
    "audience": "",
    "jwtId": "",
    "ignoreExpiration": false,
    "ignoreNotBefore": false,
    "clockTolerance": 1,
    "clockToleranceUnit": "s",
    "useMaxAge": false,
    "maxAge": 120,
    "maxAgeUnit": "s",
    "x": 460,
    "y": 100,
    "wires": [
      [
        "79600b18.df9b54"
      ]
    ]
  },
  {
    "id": "79600b18.df9b54",
    "type": "debug",
    "z": "bc2e7f6e.fb27e8",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 610,
    "y": 100,
    "wires": []
  }
]
