examples/jwt-message.json
[
  {
    "id": "2426bc1d.8e2614",
    "type": "tab",
    "label": "JWT Message",
    "disabled": false,
    "info": ""
  },
  {
    "id": "e712e08c.f1feb",
    "type": "JWT-OUT",
    "z": "2426bc1d.8e2614",
    "name": "",
    "algoType": "HASH",
    "signature": "",
    "algoHash": "HS256",
    "privateKeyFile": "",
    "algoFile": "RS256",
    "tokenPayload": "",
    "selectedProperty": "",
    "entireMessage": false,
    "showErrors": false,
    "useOptions": false,
    "issuer": "",
    "subject": "",
    "audience": "",
    "jwtId": "",
    "tokenExpires": false,
    "expiresIn": 60,
    "expiresInUnit": "s",
    "tokenNotBefore": false,
    "notBefore": 1,
    "notBeforeUnit": "s",
    "x": 320,
    "y": 140,
    "wires": [
      [
        "223c0a40.ea0026",
        "19739fc0.9139c8"
      ]
    ]
  },
  {
    "id": "a731e754.f6fca8",
    "type": "inject",
    "z": "2426bc1d.8e2614",
    "name": "",
    "topic": "",
    "payload": "test message",
    "payloadType": "str",
    "repeat": "",
    "crontab": "",
    "once": true,
    "x": 160,
    "y": 140,
    "wires": [
      [
        "e712e08c.f1feb"
      ]
    ]
  },
  {
    "id": "223c0a40.ea0026",
    "type": "debug",
    "z": "2426bc1d.8e2614",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 490,
    "y": 100,
    "wires": []
  },
  {
    "id": "19739fc0.9139c8",
    "type": "JWT-IN",
    "z": "2426bc1d.8e2614",
    "name": "",
    "algoType": "HASH",
    "signature": "",
    "publicKeyFile": "",
    "tokenPayload": "",
    "selectedProperty": "",
    "entireMessage": false,
    "showErrors": false,
    "useOptions": false,
    "issuer": "",
    "subject": "",
    "audience": "",
    "jwtId": "",
    "ignoreExpiration": false,
    "ignoreNotBefore": false,
    "clockTolerance": 1,
    "clockToleranceUnit": "s",
    "useMaxAge": false,
    "maxAge": 120,
    "maxAgeUnit": "s",
    "x": 500,
    "y": 140,
    "wires": [
      [
        "d161b4c0.144b3"
      ]
    ]
  },
  {
    "id": "d161b4c0.144b3",
    "type": "debug",
    "z": "2426bc1d.8e2614",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "true",
    "x": 650,
    "y": 140,
    "wires": []
  }
]
